h2
{
	text-align: center;
	margin-top: -0.5em;
}
h5
{
	font-size: 14px;
}

span.has-tip:hover, a:hover
{
	cursor: pointer;
}

div.container div.image
{
	width: 20%;
	vertical-align: top;
}
div.constancy div.image
{
	width: 20%;
	vertical-align: top;
}
.logo
{
	width: 50% !important;
}
div.printheader div.image
{
	width: 25%;
	margin: 0 auto;
	vertical-align: top;
}
div.text
{
	width: 65%;
	text-align: center;
}
span.title_bold
{
	font-weight: bold;
	font-size: 21px;
}
span.tittle
{
	font-weight: bold;
	font-size: 16px;
}
.horizontal-scroll
{
	position: relative;
	z-index: 10; 
	list-style: none; 	 
	max-height: 100px; 
	overflow-x: scroll;
}
div.text h5
{
	font-size: 12px;
}
.add-model
{
	margin-top: 1.3em !important;
    padding: .6em 1.5em !important;
}

.bold
{
	margin-right: 9%;
	font-weight: bold;
}
.border
{
	width: 450px;
	border-top: 1px solid black;
	margin-top: 10px;
}
.center-image
{
	display: block;
	margin: 0 auto;
}
.compatible-models .list
{
	border: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	margin: -1em auto 1em auto !important;
}
.compatible-models .list li 
{
	display: inline-block;
	font-size: 1em;
	font-weight: 200;
	list-style: none;
	padding: .5em;
	text-align: center;
	width: 20%;
}
.compatible-models .list li:hover
{
	color: white;
	background: #33aadd;
}

.container
{	
	width: 80%;
	height: auto;
	margin: 0% auto;
}

.cotizacion
{
	
	border: 2px solid #ddd;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	padding: .5em;
	width: 100%;
}
.cotizacion_prod
{
	border: 2px solid #ddd;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 5em;
	padding: .5em;
	width: 100%;
}

.dynatable-search, .dynatable-pagination-links,.dynatable-per-page,.dynatable-record-count,#dynatable-record-count-my-table, #my-table_info

{
	display: none;
}

.margin-top
{
	margin-top: 5em !important;
}
.floating
{
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.full-width
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 95% !important;
}

.items .product-list li
{
	background: #f5f5f5;
	border-bottom: 2px solid #2ac;
	list-style: none;
	padding: 1em;
	overflow: hidden;
}
.left
{
	float: left;
}

.logout-icon
{
	margin-top: .3em;
}
.modules img
{
	display: block;
	margin: 0 auto;
	
}
.new-brand-tooltip, .new-model-tooltip, .new-motorcycle-type-tooltip, .sel-replacement, .sel-motorcycle
{
	padding: .5em;
	position: absolute;
	left: 0;
	bottom: 0;
}
.new-brand-tooltip span, .new-model-tooltip span, .new-motorcycle-type-tooltip span
{
	color: #22aacc;
}

.printheader div
{
	display: inline-block;
}
.print-footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.product-image
{
	width: 300px;
}

.product-wrapper
{
	
	height: 65px;
	position: relative;
}

.remove-brand-tooltip span, .remove-model-tooltip span,.remove-motorcycle-type-tooltip span
{
	color: #cc0022;
	
}
.replacements-list, .motorcycles-list
{
	border: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	margin: -1em auto 1em auto !important;
}
.replacements-list li, .motorcycles-list li 
{
	display: block;
	font-size: 1em;
	font-weight: 200;
	list-style: none;
	padding: .5em;
	text-align: left;
	
}
.replacements-list li:hover, .motorcycles-list li:hover
{
	color: white;
	background: #33aadd;
}
.right
{
	float: right;
}
.selected-models, .selected-replacements, .selected-motorcycles
{
	margin-top: 1em;

}

.selected-models li, .selected-replacements li, .selected-motorcycles li
{
	background: #33aadd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	display: inline-block;
	font-size: .8em;
	font-weight: 200;
	list-style: none;
	margin: .5em;
	padding: .5em;
	position: relative;
	text-align: center;
	
}
.selected-models li .remove, .selected-replacements li .remove,.selected-motorcycles li .remove
{
	background: #555;
	border-radius: 50%;
	color: white;
	right: -8px;
	padding:.3em;
	position: absolute;
	top: -8px;
}

.selected-models li .remove:hover, .selected-replacements li .remove:hover, .selected-motorcycles li .remove:hover
{
	cursor: pointer;
	background: rgba(255,0,0, .7);
}

.sold-out
{
	background: #ddd;
}
.sold-out td:nth-child(3)
{
	text-decoration: line-through;
}
.top-bar
{
	margin-bottom: 1em;
}
.tooltip-wrapper 
{
	height: 60px;
	position: relative;
}

.valign-wrapper
{
	position: relative;
	top: 20%;
	left: 0;
}
.valign
{
	position: absolute;
	top: 40%;
	width: 60%;
}

.valign-wrapper.register
{
	position: relative;
	top: 10%;
	left: 0;
}
.constancy
{
	text-align: center;
	border: 2px solid black;
	width: 70%;
	margin: 5% auto;
	height: 700px;
}
.constancy .image
{
	width: 20%;
	vertical-align: top;
}
.constancy .row
{
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	margin-top: 2em;
}
.constancy .row div
{
	display: inline-block;
	margin: 0 auto;
}
.constancy .row div h5
{
	font-size: 15px;
}
.constancy .row div.border
{
	text-align: center;
	margin-top: 30px;
}
.vaucher
{
	border: 2px solid black;
	width: 70%;
	margin: 5% auto;
	height: 550px;
}

.vaucher .image
{
	width: 20%;
	vertical-align: top;
}

.vaucher .row
{
	width: 90%;	
	display: inline-block;
	margin-left: 5%;
	margin-top: 2em;
}
.vaucher .row div
{
	display: inline-block;
	margin: 0 auto;
}
.vaucher .row div h5
{
	font-size: 15px;
}

.vaucher .row div.border
{
	text-align: center;
	margin-top: 30px;
}
form.form_constancy label
{
	font-size: 18px;
}

form.form_vaucher div.row
{
    width: 90%;
    margin-bottom: -17px;
    margin-top: 4px!important;
}

form.form_vaucher label
{
	float: left;
}
form.form_vaucher input
{
	width: 80%;
	float: right;
	margin-right: 4%;
}

form.form_vaucher label 
{
	font-size: 16px;
}
.square-info 
{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    min-height: 15em;
    text-align: center;
    position: relative;
    margin: 15px 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px)
{
	nav
	{
		margin-bottom: 1em !important;
		padding: 1em 0 !important;
		height: 80px !important;
	}
}


@media screen and (max-width: 600px)
{

	
}
