@media screen {
  input {
    width: 100%;
    margin: 1em 0;
  }
}
@media print {
  input {
    display: none;
  }
  .page-break	{ display: block; page-break-before: always; }

  thead 
  {
  	display: table-header-group;
  }
}

.page-break	{ display: block; page-break-before: always; }
tbody
{
	border: 0px solid white !important;
}
th {
  font: bold 12px sans-serif;
  border: 1px solid;
  white-space: nowrap;
}
td {
  font: 12px sans-serif;
  border: 1px dotted;
  height: 25px !important;
}
td.description {
  min-width: 200px;
  border-style: solid;
  overflow: hidden;
}
td.number {
  padding-left: 20px;
  text-align: right;
  border-style: solid;
}
a.back,a.back-button
{
	display: none;
}

a.print, a.pay
{
	display: none;
}
form.form div.row
{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
form.form
{
	padding-top: 2em;
	width: 90%;
	margin: 0 auto;
}

h2
{
	font-size: 25px;
	margin-top: 1em;
}
h2.new_order
{
	display:none;
}
input.cotiz-motorcycle
{
	display: none;
}
input.search-replacements
{
	display: none;
}
input.search-customer
{
	display: none;
}
label.cover
{
	display: none;
}
nav
{
	display: none !important;
}
table.responsive
{
	width: 100%;
	border:1px solid black;
	margin: auto auto;
	margin-bottom: 2em;
}
table img
{
	width: 20%;
}
table td
{
	border: 1px solid black;
}
th.address
{
	display: none;
}
td.address
{
	display: none;
}
ul.replacements-list 
{
    display: none !important;
}
.all-products
{
	display: none;
}
.container
{	
	width: 95%;
	border: 1px solid black;
	height: 77%;
	margin: 0 auto;

}
.cotizacion
{
	width: 90%;
	border: none;
	margin-bottom: -2em;
	margin-top: -1em;
}

.cotizacion_prod
{
	width: 90%;
	border: none;
	margin-bottom: -2em;
}
.items .product-list
{
	margin-top: 1em;
}
.items .product-list blockquote
{
	border: none;
}
.printheader
{
	display: block !important;
}
.red
{
	color:red !important;
}
.refresh
{
	display: none;
}
.row
{
	overflow: hidden;
}
.columns
{
	display: inline-block;
}
.col-2
{
	width: 16.66%;
}
.col-3
{
	width: 25%;
}
.col-4 
{
	width: 33%;
}
.col-6
{
	width: 50%;
}
.col-8
{
	width: 66%;
}
.col-9
{
	width: 75%;
}
.col-10
{
	width: 83%;
}
.col-12
{
	width: 100%;
}
.total-wrapper
{
	
	float: right;
	margin-right: 4em !important;

}
.top-bar
{
	display: none;
}
.total-wrapper label
{
	text-align: right;
}
.alert-box .success .radius
{
	width: 90%;
}
.panel
{
	width: 90%;
	margin-left: 5%;
	border: none;
}
.picture_cotiza
{
	width: 300px!important;
	height: auto!important;
}
.table_cotiza
{
	width: 95%!important;
	margin: 0 auto!important;
	border: none!important;
}
.vaucher
{
	margin-top: 1%;
	width: 100%;
	height: 430px;
}
.vaucher div.row
{
	margin-top: 1%;
	margin-bottom: -1%!important;
}
.vaucher .image
{
	width: 20%;
}
.vaucher div.text 
{
	margin-left: 7%;
	margin-bottom: 0%;

}
.vaucher div.text span
{
	font-size: 16px!important;
}
.vaucher .text h5
{
	font-size: 11px!important;
	margin-bottom: .3em!important;
	margin-top: -5px!important;
}
.form_vaucher
{
	margin-top: .5em;
}
.form_vaucher .inputs div
{
	height: 3em;
	font-size: 12px!important;
}

.inputs div input
{
	width: 76%;
	margin-right: 1%;
	border:none;
	border-bottom: 2px solid black!important;
}
.form_vaucher input.calculando
{
	border:none;
	border-bottom: 2px solid black!important;
	font-size: 12px!important;
}

.foot1
{
	width: 50%;
	float: right;
}
.print-footer 
{
	display: block !important;
	width: 130% !important;
}
.border
{
	width: 100%;
	margin-right: 80px !important;
	border-top: 1px solid black;
	margin-top: 3em !important;
}
.negritas
{
	width: 50%;
	float: 50%;
}
.foot
{
	width: 100%;
	height: auto;
}
.date
{
	font-size: 12px!important;
	margin-left: -50px!important;
	width: 200px!important;
}

.form_vaucher .foot input
{
	border:none !important;
	border-bottom: 2px solid black !important;
	margin-bottom: -15px;
	margin-right: 2%;
	height: 35%;
	font-size: 12px!important;
}

.motorcycletab
{
	border: 1px solid black;
	width: 95%!important;
	margin: auto auto!important;
	overflow: hidden;
}
