body
{
	color: #555;
}
footer
{
	background: #555 !important;
}
nav
{
	background: #eee !important;
}
nav ul li a
{
    color: black !important;
}

/*.container
{
	background: white;
}*/
.card
{
	height: 400px;
}
.contact
{

	padding: 1em;
}
.contact h4
{
	border-bottom: 2px solid white;
	background: #eee;
	margin: 0 !important;
	padding: .5em;
	text-align: center;
}
.contact .body
{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0 !important;
	padding: 1em;
}
.image {
    position: relative;
    width: 400px;
    height: 300px;
}
.image img {
    width: 100%;
    vertical-align: top;
}
.image .resize
{
	height: 300px;
}
.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.image:hover:after {
    opacity: 1;
    cursor: pointer;
}
.logo
{
	width: 15%;
}
.map iframe
{
	width: 100%;
}
.title 
{
	background: #ff0000;
	padding: 1em;
	text-align: center;
}
.right
{
	float: right;
}
.title span
{
	
	color: white;
}
.service
{
	margin: 5em 3em !important;
}
.service-body
{
	text-align: justify;
}
.parallax-container 
{
    height: 500px;
}